.solver {
  height: 100vh;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px;

  &.dark {
    background-color: #1D2226;
  }

  &.light {
    background-color: #d0d0d0;
  }
}

.panel-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.panel {
  padding: 10px 16px;
  border-radius: 8px;

  &.dark {
    background-color: #1D2226;
    border: 2px solid white;
    color: white;
    & .MuiButtonBase-root {
      color: white;
    }
  }

  &.light {
    background-color: #9c9c9c;
    border: 2px solid black;
    color: #202020;
    & .MuiButtonBase-root {
      color: #202020;
    }
  }
}

& .color-badge {
  width: 16px;
  height: 16px;
  border-radius: 3px;
}
 
.game-setting {
  display: flex;
  flex-direction: column;

  & .label {
    font-size: 0.85rem;
    padding-bottom: 4px;
    letter-spacing: 0.8px;
  }

  & .MuiInputBase-root {
    height: 40px;
    color: #000000;
    background-color: #dcdcdc;
    border: 1px solid white;

    & .MuiSelect-select {
      display: flex;
      align-items: center;
    }

    & fieldset {
      border: 0px;
    }
  }
}

#settings-panel {
  & .controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 16px;
  }
}

/* from https://getcssscan.com/css-buttons-examples */
.button {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

/* Messages */
.msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: anchor-center;

  &.warning {
    color: #cece00;
  }
}

/* Keyboard styles */
.keyboard {
  margin-top: 16px;

  /* & .msg {
    display: flex;
    justify-content: center;
  } */
}

.keyrow {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;

  & .key {
    border: 1px solid #888;
    border-radius: 4px;
    margin: 0 4px;
    background-color: #00000000;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    width: .6vh;
    height: 6px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* Default for mobile devices */
    padding: 11px;

    @media (min-width: 400px) {
      padding: 14px;
    }

    &:active {
      box-shadow: none;
      transform: translateY(2px) translateX(1px);
    }

    &:hover {
      background-color: #ffffff22;
    }

    &.action-key {
      background: #343434;
      width: 3vh;

      &.disabled {
        color: #686868;
        background-color: #2c2c2c;
        border-color: #5c5c5c;
        pointer-events: none;
      }
    }
  }

  & .action-key {
    background: #343434;
    width: 3vh;
  }
}

/* Word list styles */
#word-list-panel {
  & .controls {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  & .word-list {
    background-color: #c0c0c0;
    color: black;
    padding: 6px 10px;
    border-radius: 4px;
    overflow-y: scroll;
    /* AEG review for a dynamic size*/
    max-height: 200px;
  }
}

/* Grid styles */
.grid {
  margin-top: 16px;
}

.gridrow {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-bottom: 8px;

  & .row {
    display: flex;
    justify-content: center;
  }

  & .cell {
    border: 1px solid #888;
    border-radius: 4px;
    margin: 0 4px;
    background-color: #00000000;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    width: 2vh;
    height: 16px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;

    /* Default for mobile devices */
    padding: 11px;

    @media (min-width: 400px) {
      padding: 14px;
    }

    &.active {
      border: 2px solid #90CAF9;
    }

    &:hover {
      background-color: #ffffff22;
    }
  }
}

/* Status menu styles */
.status-entry {
  font-family: system-ui;
  font-weight: 600;
  width: 100%;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 4px;
}

