.solver {
  height: 100vh;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &.dark {
    background-color: #1D2226;
  }

  &.light {
    background-color: #d0d0d0;
  }
}

#topbar {
  margin-top: 0px;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.panel-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.panel {
  padding: 0px 16px;
  border-radius: 8px;

  &.dark {
    background-color: #1D2226;
    border: 2px solid white;
    color: white;
    & .MuiButtonBase-root {
      color: white;
    }
  }

  &.light {
    background-color: #9c9c9c;
    border: 2px solid black;
    color: #202020;
    & .MuiButtonBase-root {
      color: #202020;
    }
  }
}

& .color-badge {
  width: 16px;
  height: 16px;
  border-radius: 3px;
}
 
.game-setting {
  display: flex;
  flex-direction: column;
  user-select: none;
  --error-color: #dc0000;

  & .label {
    font-size: 0.85rem;
    padding-bottom: 4px;
    letter-spacing: 0.8px;

    &.required::after {
      margin-left: 8px;
      content: '*';
    }
  }

  & .MuiInputBase-root {
    height: 40px;
    color: #000000;
    background-color: #dcdcdc;
    border: 1px solid white;

    /* &.hasError {
      border: 1px solid var(--error-color);
    } */

    & .MuiSelect-select {
      display: flex;
      align-items: center;
    }

    & fieldset {
      border: 0px;
    }
  }

  & .error-helper {
    height: 20px;
    font-size: smaller;
    color: var(--error-color);
  }
}

#settings-panel {
  margin-bottom: 16px;

  & .controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 10px;
    margin-top: 16px;
  }
}

/* from https://css-loaders.com/square/ */
/* fading dots */
.loader {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  filter: invert(100%);
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}

/* from https://getcssscan.com/css-buttons-examples */
.button {
  background-color: initial !important;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03) !important;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 33px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

/* Messages */
.msg {
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: anchor-center;

  & .info {
    color: #dbdbdb;
  }

  & .warning {
    color: #cece00;
  }

  & .error {
    color: #ce0e00;
  }
}

/* Keyboard styles */
.keyboard {
  /* margin-top: 16px; */
}

.keyrow {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;

  & .key {
    border: 1px solid #888;
    border-radius: 4px;
    margin: 0 4px;
    background-color: #00000000;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    width: .6vh;
    height: 6px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* Default for mobile devices */
    padding: 11px;

    @media (min-width: 400px) {
      padding: 14px;
    }

    &:active {
      box-shadow: none;
      transform: translateY(2px) translateX(1px);
    }

    &:hover {
      background-color: #ffffff22;
    }

    &.action-key {
      background: #343434;
      min-width: 26px;
    }

    &.disabled {
      color: #686868;
      background-color: #2c2c2c;
      border-color: #5c5c5c;
      pointer-events: none;
    }
  }

  & .action-key {
    background: #343434;
    min-width: 26px;
  }
}

/* Word list */
#word-list-panel {
  margin-top: 8px;
  border: 2px solid white;
  border-radius: 8px;
  padding: 8px;

  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-height: 0;

  & .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  & .word-list {
    background-color: #c0c0c0;
    color: black;
    padding: 6px 10px;
    border-radius: 4px;
    overflow-y: scroll;
    height: -webkit-fill-available;

    & .word {
      cursor: default;
      padding: 3px 4px 3px 4px;
      transition: background-color 0.3s ease-out;
      user-select: none;

      &.clickable {
        cursor: pointer;

        &:hover {
          background-color: rgb(145 145 227);
          border-radius: 3px;
          transition-delay: 0.1s;
        }
      }
    }
  }
}

/* Grid styles */
.grid {
  /* margin-top: 16px; */
}

.gridrow {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* margin-bottom: 8px; */

  & .row {
    display: flex;
    justify-content: center;
  }

  & .cell {
    border: 1px solid #888;
    border-radius: 4px;
    margin: 8px 4px 0px 4px;
    background-color: #00000000;
    user-select: none;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    width: 2vh;
    height: 16px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;

    /* Default for mobile devices */
    padding: 11px;

    @media (min-width: 400px) {
      padding: 14px;
    }

    &.active {
      border: 2px solid #90CAF9;
    }

    &.clickable {
      cursor: pointer;
    }
  }
}

/* Status menu styles */
.status-entry {
  font-family: system-ui;
  font-weight: 600;
  width: 100%;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 4px;
}

