#solver {
  height: -webkit-fill-available;
  padding: 8px 16px;

  &.dark {
    background-color: #1D2226;
  }

  &.light {
    background-color: #d0d0d0;
  }
}

.panel-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.panel {
  padding: 10px 16px;
  border-radius: 8px;

  &.dark {
    background-color: #1D2226;
    border: 2px solid white;
    color: white;
    & .MuiButtonBase-root {
      color: white;
    }
  }

  &.light {
    background-color: #9c9c9c;
    border: 2px solid black;
    color: #202020;
    & .MuiButtonBase-root {
      color: #202020;
    }
  }
}

& .color-badge {
  width: 16px;
  height: 16px;
  border-radius: 3px;
}
 
.game-setting {
  display: flex;
  flex-direction: column;

  & .label {
    font-size: 0.85rem;
    padding-bottom: 4px;
    letter-spacing: 0.8px;
  }

  & .MuiInputBase-root {
    height: 40px;
    color: #000000;
    background-color: #dcdcdc;
    border: 1px solid white;

    & .MuiSelect-select {
      display: flex;
      align-items: center;
    }

    & fieldset {
      border: 0px;
    }
  }
}

#settings-panel {
  & .controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 16px;
  }
}

.keyboard {
  margin-top: 16px;
}

.keyrow {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;

  & .key {
    border: 1px solid #888;
    border-radius: 4px;
    padding: 14px;
    margin: 0 4px;
    background-color: #00000000;
    /* box-shadow: 0 2px #aaa; */
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    width: .3vh;
    height: 6px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &:active {
      box-shadow: none;
      transform: translateY(2px);
    }

    &:hover {
      background-color: #ffffff22;
    }
  }
}
