#solver {
  height: -webkit-fill-available;
  padding: 8px 16px;

  &.dark {
    background-color: #1D2226;
  }

  &.light {
    background-color: #d0d0d0;
  }
}

.panel-title {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 28px;
}

.panel {
  padding: 10px 16px;
  border-radius: 8px;

  &.dark {
    background-color: #1D2226;
    border: 2px solid white;
    color: white;
  }

  &.light {
    background-color: #9c9c9c;
    border: 2px solid black;
    color: #202020;
  }
}

.game-setting {
  display: flex;
  flex-direction: column;

  & .label {
    font-size: 0.85rem;
    padding-bottom: 4px;
    letter-spacing: 0.8px;
  }

  & .MuiInputBase-root {
    height: 40px;
    color: #000000;
    background-color: #dcdcdc;
    border: 1px solid white;

    & .MuiSelect-select {
      display: flex;
      align-items: center;
    }

    & fieldset {
      border: 0px;
    }
  }
}

#settings-panel {
  & .controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
}